<h3>Ajouter un personnage</h3>

<form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
  <!-- Nom du perso -->
  <div class="input-field">
    <label for="name">Nom du Personnage</label>
    <input type="text" id="name" formControlName="name"
    placeholder="Des noms chelous certainement" class="input input-primary">
  </div>
  <!-- Date de création -->
  <div class="input-field">
    <label for="date">Date de création</label>
    <input type="text" id="date" formControlName="date"
    placeholder="Jour, mois, année" class="input input-primary">
  </div>
  <!-- Race du perso -->
  <div class="input-field">
    <label for="race">Race du Personnage</label>
    <select name="race" id="race" formControlName="race" class="m-3">
      <option *ngFor="let race of races | keyvalue" [value]="race.key">{{ race.value }}</option>
    </select>  </div>
  <!-- Classe du perso -->
  <div class="input-field">
    <label for="class">Classe du Personnage</label>
    <select name="class" id="class" formControlName="class" class="m-3">
      <option *ngFor="let classe of classes | keyvalue" [value]="classe.key">{{ classe.value }}</option>
    </select>
  </div>
  <!-- Role du personnage -->
  <div class="input-field">
    <label for="role">Rôle du Personnage</label>
    <input type="text" id="role" formControlName="role"
    placeholder="McM, PvP, PvE..." class="input input-primary">
  </div>
  <!-- Ordre de la Tyrie -->
  <div class="input-field">
    <label for="order-select">Ordre de la Tyrie</label>
    <select name="order" id="order-select" formControlName="order" class="m-3">
      <option *ngFor="let order of orders | keyvalue" [value]="order.key">{{ order.value }}</option>
    </select>
  </div>
  <!-- Allié aidé -->
  <div class="input-field">
    <label for="ally">Allié aidé</label>
    <input type="text" id="ally" formControlName="ally"
    placeholder="Allié aidé" class="input input-primary">
  </div>
</form>

<button class="btn btn-primary" type="submit">Ajouter</button>
<a routerLink="../personnages" class="btn btn-primary">Back</a>
