<section>
  <article>
    <h3>Liste des Personnages</h3>

    <table>
      <thead>
        <tr>
          <th>Personnage</th>
          <th>Date de création</th>
          <th>Race</th>
          <th>Classe</th>
          <th>Rôle</th>
          <th>Ordre</th>
          <th>Allié</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let char of characters">
          <td>{{ char.name }}</td>
          <td>{{ char.date | date: 'dd/MM/yyyy' }}</td>
          <td>{{ races[char.race] }}</td>
          <td>{{ classes[char.class] }}</td>
          <td>{{ char.role }}</td>
          <td>{{ orders[char.order] }}</td>
          <td>{{ char.ally }}</td>
        </tr>
      </tbody>
    </table>
  </article>

  <article>
    <character-form (newCharacter)="addCharacter($event)"></character-form>
  </article>
</section>
