@tailwind base;

@tailwind components;

/**********************/
/******** INPUT *******/
/**********************/

.input {
  @apply border rounded;
  @apply w-auto;
  @apply p-2 m-3;
}

.input-primary:hover {
  @apply border-blue-300;
}

.input-primary:focus {
  @apply border-blue-600;
}

/**********************/
/******* BUTTON *******/
/**********************/

button, a.btn {
  height: 40px;
  width: 100px;
}

.btn {
  @apply py-2 px-3 m-2;
  @apply rounded-lg;
}

.btn-primary {
  @apply bg-blue-300;
  @apply text-gray-700;
  &:hover {
    @apply bg-blue-500;
    @apply text-white;
  }
}

/**********************/
/******** FONT ********/
/**********************/

h1 {
  @apply text-5xl font-extrabold;
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-3xl font-semibold;
}

h4 {
  @apply text-2xl font-semibold;
}

h5 {
  @apply text-xl font-medium;
}

small {
  @apply text-sm font-thin;
}

/**********************/
/******** CARD ********/
/**********************/

.card {
  @apply p-4 m-4;
  @apply border rounded-md border-gray-400;
}

.card-title {
  @apply text-xl font-semibold;
}

/**********************/
/******** TABLE *******/
/**********************/

table {
  @apply m-3;
  @apply border-collapse border-2;
}

thead {
  @apply border-b-2;
}

th, td {
  @apply border p-3;
  min-width: 100px;
}

@tailwind utilities;
