<p>Design ici le style de base de chaque composant, et rajoute le css au fur et à mesure dans le style global (tailwind.css et non styles.css !)</p>

<div>
  <input placeholder="Coucou"
  class="border rounded hover:border-blue-300 focus:border-blue-500 p-2 m-3">

  <input class="input input-primary" placeholder="Coucou Test">
</div>

<div>
  <button class="bg-blue-300 hover:bg-blue-500 text-gray-700 hover:text-white py-2 px-3 rounded-lg m-2">Coucou</button>

  <button class="btn btn-primary">Coucou Test</button>
</div>

<div class="card">
  <span class="card-title">Petit titre</span>
  <div>blabla de petite card pas mettre trop de connerie blablabla</div>
</div>

